<a href="https://colab.research.google.com/github/pranukrish/CMPE255_DataMining/blob/main/Assignment4/Question3/DataImputationUsingMICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Imputation - Univariate and Multivariate(MICE)

#1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
!pip install --quiet impyute

In [11]:
from impyute.imputation.cs import mice
from sklearn.preprocessing import OrdinalEncoder

#2. Importing the Titanic Dataset with the below features

*   PassengerId
*   Name
*   Sex
*   Age
*   SibSp
*   Parch
*   Ticket
*   Fare
*   Cabin
*   Embarked

In [44]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/drive/MyDrive/Data/test.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#3. Checking for null values in dataset

In [45]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [46]:
df.isnull().sum().sort_values(ascending=False)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Embarked         0
dtype: int64

In [33]:
df = df.drop(columns = ['Name','Sex','Ticket'])

#4. Importing IterativeImputer for MICE

In [25]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

#5. Implementing IterativeImputer

In [26]:
lr = LinearRegression()
imp = IterativeImputer(estimator=lr, verbose=2,max_iter=30,tol=1e-10,imputation_order='roman')

In [52]:
df = df.drop(['Cabin', 'Age'], axis=1).join(df[['Cabin', 'Age']].apply(pd.to_numeric, errors='coerce'))
df.isnull().sum().sort_values(ascending=False)

Cabin          418
Age             86
Fare             1
PassengerId      0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Embarked         0
dtype: int64

In [48]:
df.head()

,PassengerId,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked,Cabin,Age
0,892,3,"Kelly, Mr. James",male,0,0,330911,7.8292,Q,NaN,34.5
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,0,363272,7.0000,S,NaN,47.0
2,894,2,"Myles, Mr. Thomas Francis",male,0,0,240276,9.6875,Q,NaN,62.0
3,895,3,"Wirz, Mr. Albert",male,0,0,315154,8.6625,S,NaN,27.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1,1,3101298,12.2875,S,NaN,22.0

In [50]:
res = imp.fit_transform(df[['Cabin','Age']])

In [51]:
res

array([[34.5       ],
       [47.        ],
       [62.        ],
       [27.        ],
       [22.        ],
       [14.        ],
       [30.        ],
       [26.        ],
       [18.        ],
       [21.        ],
       [30.27259036],
       [46.        ],
       [23.        ],
       [63.        ],
       [47.        ],
       [24.        ],
       [35.        ],
       [21.        ],
       [27.        ],
       [45.        ],
       [55.        ],
       [ 9.        ],
       [30.27259036],
       [21.        ],
       [48.        ],
       [50.        ],
       [22.        ],
       [22.5       ],
       [41.        ],
       [30.27259036],
       [50.        ],
       [24.        ],
       [33.        ],
       [30.27259036],
       [30.        ],
       [18.5       ],
       [30.27259036],
       [21.        ],
       [25.        ],
       [30.27259036],
       [39.        ],
       [30.27259036],
       [41.        ],
       [30.        ],
       [45.        ],
       [25.        ],
       [45.        ],
       [30.27259036],
       [60.        ],
       [36.        ],
       [24.        ],
       [27.        ],
       [20.        ],
       [28.        ],
       [30.27259036],
       [10.        ],
       [35.        ],
       [25.        ],
       [30.27259036],
       [36.        ],
       [17.        ],
       [32.        ],
       [18.        ],
       [22.        ],
       [13.        ],
       [30.27259036],
       [18.        ],
       [47.        ],
       [31.        ],
       [60.        ],
       [24.        ],
       [21.        ],
       [29.        ],
       [28.5       ],
       [35.        ],
       [32.5       ],
       [30.27259036],
       [55.        ],
       [30.        ],
       [24.        ],
       [ 6.        ],
       [67.        ],
       [49.        ],
       [30.27259036],
       [30.27259036],
       [30.27259036],
       [27.        ],
       [18.        ],
       [30.27259036],
       [ 2.        ],
       [22.        ],
       [30.27259036],
       [27.        ],
       [30.27259036],
       [25.        ],
       [25.        ],
       [76.        ],
       [29.        ],
       [20.        ],
       [33.        ],
       [43.        ],
       [27.        ],
       [30.27259036],
       [26.        ],
       [16.        ],
       [28.        ],
       [21.        ],
       [30.27259036],
       [30.27259036],
       [18.5       ],
       [41.        ],
       [30.27259036],
       [36.        ],
       [18.5       ],
       [63.        ],
       [18.        ],
       [30.27259036],
       [ 1.        ],
       [36.        ],
       [29.        ],
       [12.        ],
       [30.27259036],
       [35.        ],
       [28.        ],
       [30.27259036],
       [17.        ],
       [22.        ],
       [30.27259036],
       [42.        ],
       [24.        ],
       [32.        ],
       [53.        ],
       [30.27259036],
       [30.27259036],
       [43.        ],
       [24.        ],
       [26.5       ],
       [26.        ],
       [23.        ],
       [40.        ],
       [10.        ],
       [33.        ],
       [61.        ],
       [28.        ],
       [42.        ],
       [31.        ],
       [30.27259036],
       [22.        ],
       [30.27259036],
       [30.        ],
       [23.        ],
       [30.27259036],
       [60.5       ],
       [36.        ],
       [13.        ],
       [24.        ],
       [29.        ],
       [23.        ],
       [42.        ],
       [26.        ],
       [30.27259036],
       [ 7.        ],
       [26.        ],
       [30.27259036],
       [41.        ],
       [26.        ],
       [48.        ],
       [18.        ],
       [30.27259036],
       [22.        ],
       [30.27259036],
       [27.        ],
       [23.        ],
       [30.27259036],
       [40.        ],
       [15.        ],
       [20.        ],
       [54.        ],
       [36.        ],
       [64.        ],
       [30.        ],
       [37.        ],
       [18.        ],
       [30.27259036],
       [27.        ],
       [40.        ],
       [21.        ],
       [17.        ],
       [30.27259036],
       [40.        ],
       [34.        ],
       [30.27259036],
       [11.5       ],
       [61.        ],
       [ 8.        ],
       [33.        ],
       [ 6.        ],
       [18.        ],
       [23.        ],
       [30.27259036],
       [30.27259036],
       [ 0.33      ],
       [47.        ],
       [ 8.        ],
       [25.        ],
       [30.27259036],
       [35.        ],
       [24.        ],
       [33.        ],
       [25.        ],
       [32.        ],
       [30.27259036],
       [17.        ],
       [60.        ],
       [38.        ],
       [42.        ],
       [30.27259036],
       [57.        ],
       [50.        ],
       [30.27259036],
       [30.        ],
       [21.        ],
       [22.        ],
       [21.        ],
       [53.        ],
       [30.27259036],
       [23.        ],
       [30.27259036],
       [40.5       ],
       [36.        ],
       [14.        ],
       [21.        ],
       [21.        ],
       [30.27259036],
       [39.        ],
       [20.        ],
       [64.        ],
       [20.        ],
       [18.        ],
       [48.        ],
       [55.        ],
       [45.        ],
       [45.        ],
       [30.27259036],
       [30.27259036],
       [41.        ],
       [22.        ],
       [42.        ],
       [29.        ],
       [30.27259036],
       [ 0.92      ],
       [20.        ],
       [27.        ],
       [24.        ],
       [32.5       ],
       [30.27259036],
       [30.27259036],
       [28.        ],
       [19.        ],
       [21.        ],
       [36.5       ],
       [21.        ],
       [29.        ],
       [ 1.        ],
       [30.        ],
       [30.27259036],
       [30.27259036],
       [30.27259036],
       [30.27259036],
       [17.        ],
       [46.        ],
       [30.27259036],
       [26.        ],
       [30.27259036],
       [30.27259036],
       [20.        ],
       [28.        ],
       [40.        ],
       [30.        ],
       [22.        ],
       [23.        ],
       [ 0.75      ],
       [30.27259036],
       [ 9.        ],
       [ 2.        ],
       [36.        ],
       [30.27259036],
       [24.        ],
       [30.27259036],
       [30.27259036],
       [30.27259036],
       [30.        ],
       [30.27259036],
       [53.        ],
       [36.        ],
       [26.        ],
       [ 1.        ],
       [30.27259036],
       [30.        ],
       [29.        ],
       [32.        ],
       [30.27259036],
       [43.        ],
       [24.        ],
       [30.27259036],
       [64.        ],
       [30.        ],
       [ 0.83      ],
       [55.        ],
       [45.        ],
       [18.        ],
       [22.        ],
       [30.27259036],
       [37.        ],
       [55.        ],
       [17.        ],
       [57.        ],
       [19.        ],
       [27.        ],
       [22.        ],
       [26.        ],
       [25.        ],
       [26.        ],
       [33.        ],
       [39.        ],
       [23.        ],
       [12.        ],
       [46.        ],
       [29.        ],
       [21.        ],
       [48.        ],
       [39.        ],
       [30.27259036],
       [19.        ],
       [27.        ],
       [30.        ],
       [32.        ],
       [39.        ],
       [25.        ],
       [30.27259036],
       [18.        ],
       [32.        ],
       [30.27259036],
       [58.        ],
       [30.27259036],
       [16.        ],
       [26.        ],
       [38.        ],
       [24.        ],
       [31.        ],
       [45.        ],
       [25.        ],
       [18.        ],
       [49.        ],
       [ 0.17      ],
       [50.        ],
       [59.        ],
       [30.27259036],
       [30.27259036],
       [30.        ],
       [14.5       ],
       [24.        ],
       [31.        ],
       [27.        ],
       [25.        ],
       [30.27259036],
       [30.27259036],
       [22.        ],
       [45.        ],
       [29.        ],
       [21.        ],
       [31.        ],
       [49.        ],
       [44.        ],
       [54.        ],
       [45.        ],
       [22.        ],
       [21.        ],
       [55.        ],
       [ 5.        ],
       [30.27259036],
       [26.        ],
       [30.27259036],
       [19.        ],
       [30.27259036],
       [24.        ],
       [24.        ],
       [57.        ],
       [21.        ],
       [ 6.        ],
       [23.        ],
       [51.        ],
       [13.        ],
       [47.        ],
       [29.        ],
       [18.        ],
       [24.        ],
       [48.        ],
       [22.        ],
       [31.        ],
       [30.        ],
       [38.        ],
       [22.        ],
       [17.        ],
       [43.        ],
       [20.        ],
       [23.        ],
       [50.        ],
       [30.27259036],
       [ 3.        ],
       [30.27259036],
       [37.        ],
       [28.        ],
       [30.27259036],
       [39.        ],
       [38.5       ],
       [30.27259036],
       [30.27259036]])